* {
  box-sizing: border-box;
  padding: 0px 5px 5px 5px;
  font-family: "Roboto Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-bottom: 100px;
}

svg {
  width: 80px;
  transition: transform 0.3s ease;
}

svg:hover {
  transform: scale(1.1);
}

.svgBookmark {
  width: 50px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  border-bottom: solid;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  border-style: solid;
  border-width: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.question {
  display: flex;
}

.quest1 {
  flex: 2;
  text-align: center;
  margin-top: 35px;
  margin-left: 40px;
  display: block;
}

.bookmark {
  flex: 0;
  margin-top: -10px;
  text-align: end;
}
.ansBtn {
  display: block;
  margin: 0 auto;
}

button {
  background-color: rgba(23, 26, 32, 0.8);
  border: none;
  border-radius: 6px;
  color: #fff;
  flex-grow: 1;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  height: 36px;
  line-height: 20px;
  min-width: 185px;
  color: white;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

button:hover {
  background-color: rgba(23, 26, 32, 1);
  cursor: pointer;
}

.tags {
  margin-top: 50px;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  background-color: #8e9aaf;
  color: #fff;
  font-size: small;
  border: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
  text-align: center;
}

.sidenav p {
  padding-left: 17px;
  transition: transform 0.3s ease;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  transition: transform 0.3s ease;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #8fffc5;
  transform: scale(1.1);
}
